
  body {
    margin: 0;
    padding: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F3ED; /* Peach background color */
  }
  
  .container {
    text-align: center;

  }
  
  h1 {
    text-align: center;
   
  }
  
  h2 {
    font-size: 15px;
    margin-top: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3f6848;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  img#loading {
    display: none;
    width: 30px; 
    height: 30px;
   
  }
  footer {
    text-align: center;
    margin-top: auto;
    padding: 20px;
  }
  ul.nav-links {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 10px;
  }
  
  ul.nav-links li {
    display: inline;
    margin-right: 10px;
  }
  
  ul.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 10px;
  }

  p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  ul.nav-links li a:hover {
    color: red; 
  }
